.book-container {
  width: 100%;
  margin: 0 auto;
  position: relative;
  cursor: pointer;
  visibility: visible;
  overflow: visible;
}

.book-container:hover {
  box-shadow: 0 0 25px rgba(0,0,0,0.15);
}

canvas {
  display: block;
  margin: 0 auto;
}

body.no-scroll {
  overflow: hidden;
}


.page {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.page canvas {
  width: 100% !important;
  height: 100% !important;
  object-fit: contain;
  display: block;
}


/* Responsive */
@media (max-width: 768px) {
  .book-container {
    width: 95%;
    max-width: none;
  }
}

@media (max-width: 480px) {
  .book-container {
    width: 100%;
  }
}

/* Hide Scrollbar Utility */
.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}
