.book-container {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  position: relative;
  cursor: pointer;
  transition: transform 0.2s;
  visibility: hidden;
  overflow: hidden;
  perspective: 1500px; /* 3D Perspective */
}

/* Slight left tilt effect */
.book-container:not(:hover) {
    transform: rotateY(-5deg) scale(0.98);
    box-shadow: -10px 10px 20px rgba(0,0,0,0.2);
}

.book-container:hover {
  transform: rotateY(0deg) scale(1);
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
}

canvas {
  display: block;
  margin: 0 auto;
}

body.no-scroll {
  overflow: hidden;
}


.page {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.page canvas {
  width: 100% !important;
  height: auto !important;
  object-fit: contain;
  display: block;
}


/* Responsive */
@media (max-width: 768px) {
  .book-container {
    width: 95%;
    max-width: none;
  }
}

@media (max-width: 480px) {
  .book-container {
    width: 100%;
  }
}

/* Hide Scrollbar Utility */
.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}
